/.ipynb_checkpoints
/project_1/.ipynb_checkpoints
/project_2/.ipynb_checkpoints
project_1/.DS_Store
/project_3/.ipynb_checkpoints
project_3/.DS_Store
.DS_Store
.DS_Store
.DS_Store
/project_5/.ipynb_checkpoints
.DS_Store
.DS_Store
